.home-page {
  width: 100%;
}

.home-feedback {
  background: linear-gradient(45deg, var(--primary-color), var(--primary-color-dark));
  padding: 30px;
  padding-bottom: 10px;
  color: #fff;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  border-bottom-right-radius: 45px;
}
.home-feedback > span {
  margin: 5px 0;
}
  .feedback__day {
    font-size: 24px;
    font-weight: bold;
  }
  .feedback__unfinished-tasks {
    font-size: 16px;
  }
  .feedback__percentage {
    font-size: 40px;
    font-weight: bolder;
    align-self: flex-end;
  }
    .feedback__percentage > span {
      font-size: 20px;
    }

.todo-header {
  padding: 20px;
  background: var(--header);
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.completed-header {
  padding: 20px;
  background: var(--header);
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
